<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.testibm">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/applogoblackwhite"
        android:label="@string/app_name"
        android:roundIcon="@drawable/applogoblackwhite"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".chatActivity"></activity>
        <activity android:name=".UserProfileActivity" />
        <activity android:name=".UserListPage" />
        <activity android:name=".SignUp" />
        <activity android:name=".AddCommentActivity" />
        <activity android:name=".AddPostPage" />
        <activity android:name=".MainActivity" />
        <activity android:name=".SignIn" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>